{% extends 'layout.html' %}

{% block main %}

<div class="content">
	<ul class="bread">
		<li>
			<a href="/admin">管理首页</a> <span>/</span>
		</li>
		<li>
			<span>用户列表</span> <span>/</span>
		</li>
	</ul>

	<div class="main-list">
		<table class="main-table">
			<thead>
				<th width="30%">ID</th>
				<th width="10%">用户名</th>
				<th width="10%">是否管理员</th>
				<th width="50%">编辑</th>
			</thead>
			<tbody>
				{% for user in users %}
				<tr>
					<td>{{user._id.toString()}}</td>
					<td>{{user.username}}</td>
					<td>{% if user.isAdmin %}是{%else%}否{%endif%}</td>
					<td>修改</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	{% include 'page.html' %}
</div>

{% endblock %}